import UIKit

public extension CGFloat {
    /**
     Returns a random floating point number between 0.0 and 1.0, inclusive.
     */
    public static func random() -> CGFloat {
        return CGFloat(Float(arc4random()) / 0xFFFFFFFF)
    }
}

extension String {
    var uppercaseFirst: String {
        return String(characters.prefix(1)).uppercased() + String(characters.dropFirst())
    }
}

struct Extension {
    {{#iosExtensions}}
    struct {{&name}} {}
    {{/iosExtensions}}
}

class GameViewController: UIViewController {
    var client: Client! = Client()
    var renderer: Renderer! = Renderer()
    var shadowWindow: ShadowWindow!
    var window: Window!
    var customApp: CustomApp!
    var frameDelay: Double = 0
    var frameTime: Double = 0

    class Window: UIView {
        var app: GameViewController!
        var windowItem: Item?
        let background = CAShapeLayer()

        override func didMoveToSuperview() {
            background.fillColor = UIColor.white.cgColor
            background.path = CGPath(rect: CGRect(x: 0, y: 0, width: frame.width, height: frame.height), transform: nil)
        }

        override func draw(_ rect: CGRect) {
            let context = UIGraphicsGetCurrentContext()!
            background.render(in: context)
            windowItem?.draw(context, inRect: rect)

            // DEBUG dirty rectangles
            // context.setFillColor(red: CGFloat.random(), green: CGFloat.random(), blue: CGFloat.random(), alpha: 0.3);
            // context.fill(rect);
        }
    }

    class ShadowWindow: UIView {
        override func draw(_ rect: CGRect) {
        }
    }

    @objc private func animationFrame() {
        let time = CACurrentMediaTime()
        frameDelay = (time - frameTime) * 1000;
        frameTime = time
        client.js.callAnimationFrame()
        renderer.draw()
    }

    private func initClient() {
        client.actions[InAction.setWindow] = {
            (reader: Reader) in
            self.window.windowItem = self.renderer.getObjectFromReader(reader) as? Item
            self.window.setNeedsDisplay()
        }
    }

    private func initRenderer() {
        renderer.app = self
        (UIApplication.shared as! NeftApplication).renderer = renderer
    }

    override func viewDidLoad() {
        initClient();
        initRenderer()

        // animation frame
        let updater = CADisplayLink(target: self, selector: #selector(GameViewController.animationFrame))
        updater.frameInterval = 1
        updater.add(to: RunLoop.current, forMode: RunLoopMode.commonModes)

        // shadow window
        self.shadowWindow = ShadowWindow(frame: CGRect(x: 0, y: 0, width: view.frame.width, height: view.frame.height))
        view.addSubview(shadowWindow)

        // window
        self.window = Window(frame: shadowWindow.frame)
        window.app = self
        window.isUserInteractionEnabled = false
        view.addSubview(self.window)

        super.viewDidLoad()

        // init custom
        self.customApp = CustomApp(app: self)
        {{#iosExtensions}}
        Extension.{{&name}}.register(app: self)
        {{/iosExtensions}}

        // run
        self.renderer.load()
        self.client.js.runScript("neft")

        // watch on js bundle file change
        if (!{{&release}}) {
            watchOnBundleChange(url: "{{&watchServerConfig.protocol}}://{{&watchServerConfig.host}}:{{&watchServerConfig.port}}/newBundle");
        }
    }

    private func watchOnBundleChange(url: String) {
        var req = URLRequest(url: URL(string: url)!)
        let session = URLSession.shared
        req.timeoutInterval = 0

        let task = session.dataTask(with: req, completionHandler: {
            (data, response, error) in
            let js = data != nil ? NSString(data: data!, encoding: String.Encoding.utf8.rawValue)! : ""
            DispatchQueue.main.async {
                self.runJsBundle(code: js as String)
                self.watchOnBundleChange(url: url)
            }
        })

        task.resume()
    }

    private func runJsBundle(code: String) {
        // clear
        client.destroy()
        window.windowItem = nil
        shadowWindow.subviews.forEach({ $0.removeFromSuperview() })

        // init classes
        client = Client()
        initClient()
        renderer = Renderer()
        initRenderer()

        // run
        renderer.load()
        client.js.runCode(code)
    }

    override var shouldAutorotate : Bool {
        return false
    }

    override var supportedInterfaceOrientations : UIInterfaceOrientationMask {
        if UIDevice.current.userInterfaceIdiom == .phone {
            return .allButUpsideDown
        } else {
            return .all
        }
    }

    override func didReceiveMemoryWarning() {
        super.didReceiveMemoryWarning()
    }

    override var prefersStatusBarHidden : Bool {
        return false
    }
}
