<link rel="stylesheet" type="text/css" href="/styles/highlights-github.css">
<script src="/scripts/aside.js"></script>
<script src="/scripts/svg-render.js"></script>
<script src="/scripts/search-texts.js"></script>
<script src="/scripts/elasticlunr.min.js"></script>
<script src="/scripts/search.js"></script>
