apply plugin: 'com.android.application'

android {
    compileSdkVersion {{&local.android.compileSdkVersion}}
    buildToolsVersion "{{&local.android.buildToolsVersion}}"
    defaultConfig {
        applicationId "{{&package.android.package}}"
        minSdkVersion 14
        targetSdkVersion 23
        versionCode {{&package.android.versionCode}}
        versionName "{{&package.android.versionName}}"
    }
    buildTypes {
        release {
            minifyEnabled true
        }
    }
    sourceSets {
        main {
            jni.srcDirs = []
            jniLibs.srcDirs = ['src/main/libs']
        }
    }
    productFlavors {
    }
    splits {
        abi {
            enable true
            reset()
            include 'armeabi', 'armeabi-v7a', 'x86'
            universalApk true
        }
    }
}

dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    {{#local.android.dependencies}}
    compile '{{&.}}'
    {{/local.android.dependencies}}
    compile files('src/main/libs/androidsvg-1.2.1.jar')
    compile 'com.jakewharton:process-phoenix:1.1.0'
}
