apply plugin: 'com.android.application'

android {
    compileSdkVersion {{&local.android.compileSdkVersion}}
    buildToolsVersion "{{&local.android.buildToolsVersion}}"
    defaultConfig {
        applicationId "{{&package.android.package}}"
        minSdkVersion 18
        targetSdkVersion {{&local.android.targetSdkVersion}}
        versionCode {{&package.android.versionCode}}
        versionName "{{&package.android.versionName}}"
    }
    signingConfigs {
        {{#package.android.signing}}
        config {
            storeFile file('{{&storeFile}}')
            storePassword '{{&storePassword}}'
            keyPassword '{{&keyPassword}}'
            keyAlias '{{&keyAlias}}'
        }
        {{/package.android.signing}}
    }
    buildTypes {
        release {
            minifyEnabled true
            {{#package.android.signing}}
            signingConfig signingConfigs.config
            {{/package.android.signing}}
            proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'
        }
    }
    sourceSets {
        main {
            jni.srcDirs = []
            jniLibs.srcDirs = ['src/main/libs']
        }
    }
    productFlavors {
    }
    splits {
        abi {
            enable true
            reset()
            include 'armeabi', 'armeabi-v7a', 'x86'
            universalApk true
        }
    }
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_7
        targetCompatibility JavaVersion.VERSION_1_7
    }
}

dependencies {
    implementation fileTree(include: ['*.jar'], dir: 'libs')
    {{#local.android.dependencies}}
    implementation '{{&.}}'
    {{/local.android.dependencies}}
    implementation files('src/main/libs/androidsvg-1.2.1.jar')
    implementation 'com.jakewharton:process-phoenix:1.1.0'
    compileOnly 'org.projectlombok:lombok:1.12.6'
    annotationProcessor 'org.projectlombok:lombok:1.12.6'
}
