package {{&package.android.package}};

import android.os.Bundle;

import io.neft.App;
import io.neft.WindowView;

public class MainActivity extends io.neft.MainActivity {
    @Override
    public void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);

        setContentView(R.layout.activity_main);
        this.view = (WindowView) findViewById(R.id.layout);

        Runnable initExtensions = new Runnable() {
            @Override
            public void run() {
                {{#androidExtensions}}
                io.neft.extensions.{{&packageName}}.{{&name}}Extension.register();
                {{/androidExtensions}}
            }
        };
        {{^buildServerUrl}}
        String codeWatchChangesUrl = null;
        {{/buildServerUrl}}
        {{#buildServerUrl}}
        String codeWatchChangesUrl = "{{&buildServerUrl}}";
        {{/buildServerUrl}}
        App.getInstance().attach(this, codeWatchChangesUrl, initExtensions);
    }
}
