<!doctype html>
<meta charset="utf-8">
<title>${app.config.title}</title>

<body>
 	<h1>Sample app</h1>

	<h2>Order</h2>
	<p>Products to order: ${order.length}</p>
	<p neft:if="${orderStatus.loaded}">${orderStatus.error}${orderStatus.response}</p>
	<button style:pointer:onClick="${route.send()}">
		<neft:log orderStatusPending="${orderStatus.pending}" />
		<neft:blank neft:if="${orderStatus.pending}">Wait for a server</neft:blank>
		<neft:blank neft:else>Send</neft:blank>
	</button>

	<h2>Products</h2>
	<neft:log data="${route.data}" route="${route}" />
	<p neft:if="${data.length === 0}">Oops.. Nothing here</p>
	<ul neft:each="${data}" class="products">
		<li>
			<p>${item.name}</p>
			<button style:pointer:onClick="${route.orderProduct(item)}" class="anchorRight">Order</button>
		</li>
	</ul>
</body>
