<!--<link rel="require" href="todo" as="todo">-->

<unit name="todo-item">
	<article style="item">
		<header><h1 style="h1">#{data.id}</h1></header>
		<dl>
			<dt>Created</dt>
			<dd>#{data.created}</dd>
			<dt>Updated</dt>
			<dd>#{data.updated}</dd>
		</dl>
		<p contenteditable>#{data.msg}</p>

		<nav>
			<button type="submit" onclick="">Remove</button>
			<button type="submit" onclick="#{data.post(msg: 'a1')}">Update</button>
		</nav>
	</article>
</unit>

<unit name="todo-list">
	<ul each="#{data}">
		<li>
			<todo-item data="#{each[i]}"></todo-item>
		</li>
	</ul>
</unit>

<unit name="new">
	<form action="/item" method="post">
		<fieldset>
			<textarea name="msg" rows="10" cols="30"></textarea>
			<input type="submit">
		</fieldset>
	</form>
</unit>


<h1 style="h1">TODO App</h1>

<a href="/#{config.client.uri.toString(page: query.page - 1)}" if="#{query.page} > 0" style="prev">prev</a>
<a href="/#{config.client.uri.toString(page: query.page + 1)}" if="#{data.length}" style="next">next</a>

<todo-list data="#{data}"></todo-list>