<unit name="item">
	<article>
		<header><h1>#{data.id}</h1></header>
		<dl>
			<dt>Created</dt>
			<dd>#{data.created}</dd>
			<dt>Updated</dt>
			<dd>#{data.updated}</dd>
		</dl>
		<p contenteditable>#{data.msg}</p>

		<nav>
			<button type="submit" onclick="removeItem('#{data.id}')">Remove</button>
			<button type="submit" onclick="updateItem(this)">Update</button>
		</nav>
	</article>
</unit>

<unit name="list">
	<ul each="#{data}">
		<li>
			<item data="#{each[i]}"></item>
		</li>
	</ul>
</unit>

<unit name="new">
	<form action="/item" method="post">
		<fieldset>
			<textarea name="msg" rows="10" cols="30"></textarea>
			<input type="submit">
		</fieldset>
	</form>
</unit>