<nav id="navbar">
    <div class="main">
        <div class="logo">
            <a href="/">
                {{#isMainPage}}
                <img src="/media/logo-text-on.svg" alt="Neft.io" />
                {{/isMainPage}}
                {{#isApiPage}}
                <img src="/media/logo-lines-text-on.svg" alt="Neft.io" />
                {{/isApiPage}}
                {{#isGuidePage}}
                <img src="/media/logo-white-text-on.svg" alt="Neft.io" />
                {{/isGuidePage}}
                {{#isExamplesPage}}
                <img src="/media/logo-white-text-on.svg" alt="Neft.io" />
                {{/isExamplesPage}}
            </a>
        </div>

        <div class="links">
            <a href="/guide/get-started.html" class="{{#isGuidePage}}active{{/isGuidePage}}">Guide</a>
            <a href="/api/app.html" class="{{#isApiPage}}active{{/isApiPage}}">API</a>
            <!--<a href="/examples.html" class="{{#isExamplesPage}}active{{/isExamplesPage}}">Examples</a>-->
        </div>

        <div id="searchResult"></div>
        <input id="search" type="text" placeholder="Search">
        <span id="searchTitle">Search</span>
    </div>
</nav>
