.editor {
  margin-top: 30px;

  .code {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1), 0 5px 7px rgba(0, 0, 0, .05);
    border-radius: 12px;
    overflow: hidden;
    vertical-align: top;

    textarea, .codeflask__flatten {
      padding: 20px;
    }

    & > textarea {
      display: none;
    }
  }

  iframe {
    position: absolute;
    width: 250px;
    height: 300px;
    margin-left: 15px;
  }
}
