<link rel="stylesheet" type="text/css" href="/styles/highlights-github.css">
<script src="/scripts/aside.js"></script>
<script src="/scripts/svg-render.js"></script>
<script src="/scripts/search-texts.js"></script>
<script src="/scripts/elasticlunr.min.js"></script>
<script src="/scripts/search.js"></script>
<script src="/scripts/copy-code.js"></script>

<script>
(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://neft.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
