# Summary

- [Get Started](/get-started.md)
- [Data binding](/data-binding.md)
- [Views](/views.md)
  - [Scripting](/views/scripting.md)
  - [Virtual DOM](/views/virtual-dom.md)
- [Styles](/styles.md)
  - [Views Integration](/styles/views-integration.md)
  {{! - [Layout](/styles/layout.md) }}
  {{! - [Runtime styling](/styles/runtime-styling.md) }}
  {{! - [Type extending](/styles/type-extending.md) }}
  {{! - [Animations](/styles/animations.md) }}
  {{! - [Custom properties](/styles/custom-properties.md) }}
  {{! - [Generic styles](/styles/generic-styles.md) }}
  {{! - [Main style](/styles/main-style.md) }}
- [Static Resources](/static-resources.md)
- [Routing](/routing.md)
  - [Models](/routing/models.md)
- [Networking](/networking.md)
- [Native Communication](/native-communication.md)

## Extensions
  - [Introduction](/extensions.md)
  - [Default Styles](/extensions/default-styles.md)
  - [Native Items](/extensions/native-items.md)
    - [Scrollable](/extensions/native-items/scrollable.md)
    - [TextInput](/extensions/native-items/textinput.md)
    - [Button](/extensions/native-items/button.md)
    - [Stepper](/extensions/native-items/stepper.md)
    - [Switch](/extensions/native-items/switch.md)
    - [Slider](/extensions/native-items/slider.md)

## Help
  - [Contribute](/contribute.md)
  - [Issues](https://github.com/Neft-io/neft/issues)
  - [Neft on Gitter](https://gitter.im/Neft-io/neft)

## API Reference
{{api-reference}}
