@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://fonts.gstatic.com/s/sourcecodepro/v7/HI_XiYsKILxRpg3hIP6sJ7fM7PqtlsnDs-cv.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v7/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevT.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url(https://fonts.gstatic.com/s/sourcecodepro/v7/HI_XiYsKILxRpg3hIP6sJ7fM7Pqt4s_Ds-cv.ttf) format('truetype');
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
  background: white;
  z-index: 1;
}
#navbar .main {
  height: 40px;
}
#navbar .logo {
  display: inline-block;
}
#navbar .logo img {
  float: left;
  width: 40px;
  margin-right: 10px;
}
#navbar .logo img.hidden {
  visibility: hidden;
}
#navbar .links {
  position: absolute;
  left: 280px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
#navbar .links a {
  color: #666666;
  text-decoration: none;
  font-size: 16px;
  padding: 2px 5px;
  margin: 0 15px;
}
#navbar .links a.active,
#navbar .links a:hover {
  border-bottom: 4px solid #0DFF7E;
}
#navbar #search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  border: 1px solid #e6e6e6;
  border-radius: 17px;
  font-size: 14px;
  padding: 7px 20px;
}
#navbar #searchResult {
  background: #fff;
  position: absolute;
  right: 0;
  width: 300px;
  font-size: 12px;
  border-radius: 17px;
  margin-top: -36px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 32px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.06);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 13px;
}
#navbar #searchResult:empty {
  display: none;
}
#navbar #searchResult:empty ~ #searchTitle {
  display: none;
}
#navbar #searchResult:not(:empty) ~ input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
#navbar #searchResult ul {
  list-style: none;
}
#navbar #searchResult a {
  font-size: 16px;
  line-height: 1;
  display: block;
  text-decoration: none;
  font-weight: 300;
  padding: 2px 0;
}
#navbar #searchTitle {
  position: absolute;
  top: 7px;
  color: #444;
  font-size: 18px;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
  right: 257px;
}
#welcome {
  width: 700px;
  margin: 100px auto;
}
#welcome img {
  float: left;
  width: 200px;
  margin-right: 50px;
}
#welcome h1 {
  font-weight: 100;
  font-size: 50px;
  color: #444;
}
#welcome h2 {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.5;
  margin-bottom: 20px;
}
#welcome .buttons a {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  background: #0DFF7E;
  margin-right: 20px;
}
#aside {
  position: fixed;
  width: 250px;
  top: 61px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 53px 0;
}
#aside li li {
  padding-left: 25px;
}
#aside a {
  font-size: 16px;
  line-height: 1.8;
  display: block;
  text-decoration: none;
  font-weight: 300;
}
#aside a.active {
  font-weight: 900;
}
.content {
  width: 700px;
  margin-left: 300px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 53px;
}
.content p {
  font-family: "Roboto Slab", serif;
  margin-top: 29px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.028em;
  margin-top: 53px;
}
.content h2 {
  margin-top: 50px;
  font-size: 32px;
}
.content h3 {
  margin-top: 29px;
  font-size: 24px;
}
.content h4 {
  margin-top: 29px;
  font-size: 18px;
}
.content code {
  font-family: "Source Code Pro", monospace;
  background: #f5f5f5;
}
.content code.svg {
  height: 200px;
  font-size: 0;
  overflow: hidden;
}
.content code.svg > svg {
  height: 100%;
}
.content ul,
.content ol {
  margin-left: 30px;
}
#api {
  font-size: 15px;
}
#api h1 ~ blockquote,
#api h1 ~ dl,
#api h1 ~ p,
#api h1 ~ pre {
  margin-left: 0;
}
#api h2 ~ blockquote,
#api h2 ~ dl,
#api h2 ~ p,
#api h2 ~ pre,
#api h3 {
  margin-left: 30px;
}
#api h3 ~ blockquote,
#api h3 ~ dl,
#api h3 ~ p,
#api h3 ~ pre {
  margin-left: 60px;
}
#api p {
  margin-top: 21px;
}
#api blockquote {
  opacity: 0.7;
}
#api h2 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 23px;
  margin-bottom: 7px;
  font-family: "Source Code Pro", monospace;
}
#api h3 {
  font-size: 15px;
}
#api code {
  padding: 0 5px;
}
#api pre code {
  margin-top: 19px;
  padding: 15px;
}
#api dl {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #f2f2f2;
}
#api dl dt {
  clear: both;
  float: left;
  font-weight: 800;
  padding-left: 10px;
}
#api dl dd {
  float: left;
  padding-left: 7px;
}
#api dl dd ul {
  margin-left: 23px;
}
#guide pre code {
  display: block;
  font-size: 18px;
  overflow: auto;
  background: #f5f5f5;
  padding: 30px;
}
#footer {
  padding: 100px 0 20px 0;
  text-align: center;
  font-size: 16px;
  color: #b3b3b3;
}
body {
  font-size: 0;
  font-family: "Roboto", sans-serif;
  padding-top: 61px;
}
.main {
  position: relative;
  margin: 0 60px;
}
